[defaults]
strategy = debug

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=20 -o PasswordAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=50

allow_world_readable_tmpfiles = True
pipelining = True

#-o scp_if_ssh=Tru
