---
- name: Update APT packages
  apt:
    update_cache: yes
    force_apt_get: yes
    state: latest

- name: Install pre-requisite packages for Docker
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - gnupg-agent
      - software-properties-common
      - python-pip
      - virtualenv
      - python-setuptools

- name: Add Docker GPG apt key
  apt_key: 
    url: https://download.docker.com/linux/debian/gpg
    state: present  

- name: Add Docker Repository
  apt_repository: 
    repo: deb [arch=amd64] https://download.docker.com/linux/debian stretch stable
    state: present

- name: Update APT packages
  apt:
    update_cache: yes
    force_apt_get: yes

- name: Install Docker CE
  apt:
    name: docker-ce
    state: present
    force_apt_get: yes

- name: Install Docker CE
  pip:
    name: docker
    # state: present
    # force_apt_get: yes

- name: Install Docker CE Client
  apt:
    name: docker-ce-cli
    state: present
    force_apt_get: yes

- name: Install containerd.io
  apt:
    name: containerd.io
    state: present
    force_apt_get: yes

- name: Test Docker with Hello-World example
  shell: "docker run hello-world"
  register: hello_world_output

- name: Show output of hello world example
  debug:
    msg: "Container Output: {{ hello_world_output.stdout }}"

- name: Create docker group
  group:
    name: docker
    state: present

- name: Adding devops user to docker group
  user:
    name: devops
    group: docker
    append: yes

- name: Adding vagrant user to docker group
  user:
    name: vagrant
    group: docker
    append: yes

- name: Install Docker Compose
  get_url:
#    url: https://github.com/docker/compose/releases/download/1.27.4/docker-compose-Linux-x86_64
    url: https://github.com/docker/compose/releases/download/1.9.0/docker-compose-Linux-x86_64
    dest: "/usr/local/bin/docker-compose"
    mode: 0755

- name: Install CTOP
  get_url:
    url: https://github.com/bcicen/ctop/releases/download/v0.7.3/ctop-0.7.3-linux-amd64
    dest: "/usr/local/bin/ctop"
    mode: 0755

- name: Reboot server in order for changes to take place
  reboot:
    post_reboot_delay: 20
    test_command: uptime

# - name: Install aptitude using apt
#   apt: 
#     name: aptitude 
#     state: latest 
#     update_cache: yes 
#     force_apt_get: yes
  
# - name: Install required system packages
#   apt: 
#     pkg:
#       - apt-transport-https
#       - ca-certificates
#       - curl
#       - software-properties-common
#       - python2
#       - python-pip
#       - virtualenv
#       - python-setuptools

# - name: Reboot server in order for changes to take place
#   shell: "sleep 1 && reboot && sleep 10"
#   async: 1
#   poll: 0
